name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install python 3.12
        run: uv python install 3.12
      - name: Install dependencies
        run: uv sync --al-extras --dev
      - name: Run Tests with Coverage
        run: uv run pytest --cov=. --cov-report=xml
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Snyk Security Scan
        uses: snyk/actions/python-3.12@master
        continue-on-error: true
        env: SNYK_TOKEN ${{ secrets.SNYK_TOKEN }}
