name: CI 
on: [push, pull_request] 

jobs: 
  test: 
    runs-on: ubuntu-latest 
    permissions:
      contents: read
    steps:  
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Checkout code 
        uses: actions/checkout@v4 

      - name: Install uv 
        uses: astral-sh/setup-uv@v5 
        with:
          enable-cache: true 

      - name: Set up Python 
        run: uv python install 3.12 

      - name: Install dependencies 
        run: uv sync --all-extras --dev 

      - name: Run Tests 
        run: uv run pytest 
